:root {
    --background-color: rgba(212, 237, 218, 0.8); /* Pastel Green with some transparency */
    --title-color: red;
    --line-color: #333;
    --button-text-color: white;
}

[data-theme='dark'] {
    --background-color: rgba(18, 18, 18, 0.8); /* Dark with some transparency */
    --title-color: #ff8a80;
    --line-color: #eee;
    --button-text-color: #121212;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1502657877623-f66bf489d782?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

body {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    margin: 0;
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.theme-switcher-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#theme-switcher {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#theme-switcher:hover {
    background-color: #555;
}

.title-container {
    text-align: center;
    border-bottom: 2px solid var(--line-color);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.title {
    color: var(--title-color);
    margin: 0;
}

.button-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.button {
    padding: 15px 30px;
    color: var(--button-text-color);
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex; /* Allow content to be centered */
    justify-content: center;
    align-items: center;
}

.button:hover {
    transform: translateY(-2px);
}

.button .logo {
    max-width: 100px; /* Adjust as needed */
    height: auto;
    display: block;
}

.button.daum {
    background-color: #fceb5c; /* Adjusted Daum Yellow */
}

.button.daum:hover {
    background-color: #e3d242; /* Darker Yellow */
}

.button.youtube {
    background-color: #FF0000; /* YouTube Red */
}

.button.youtube:hover {
    background-color: #cc0000;
}

.button.netflix {
    background-color: black;
}

.button.netflix:hover {
    background-color: #333; /* Darker grey for hover */
}

/* Responsive styles for mobile devices */
@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        width: 80%;
    }
}
